{{ form_start(form) }}
    <div class="d-flex flex-column">
        {{ form_label(form.title) }}
        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}

        {{ form_label(form.contents) }}
        {{ form_widget(form.contents, {'attr': {'class': 'form-control'}}) }}

        {{ form_label(form.number) }}
        {{ form_widget(form.number, {'attr': {'class': 'form-control'}}) }}
    </div>
    <button class="btn btn-outline-primary mt-3">{{ button_label|default('Сохранить') }}</button>
{{ form_end(form) }}
